body {
    margin-bottom: 60px;
    /* Margin bottom by footer height */
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */

}

main {
    margin-top: 60px;
}


@media(max-width: 768px) {
    .footer {
        display: none;
    }
}

.business-card {
    position: relative;
    width: 25em;
    border: 1px solid #cccccc;
    background: #f8f8f8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.profile-img {
    height: 120px;
    background: white;
    margin-right: 1em;
}

.navicon {
    margin-left: 0.15em;
    margin-right: 0.15em;
}